<mat-dialog-content>
    <span>
        <h2>Recuerda que solo puedes votar una vez</h2>
    </span>
    <form class="container padding-inputs">
        <h3>Por favor ingrese su email para votar por el video de: {{userName}}</h3>
        <div class="row cnt-inpt">
            <input class="inputs" name="cltName" placeholder="Email" [(ngModel)]="emailVote" type="email">
        </div>
        <div class="row">
            <div class="col"><button [disabled]="emailVote == '' || emailValidado " mat-stroked-button
                    (click)="validarEmail(emailVote)">
                    Validar Email
                </button></div>
            <div class="col"><span style="color:red; font-size:18px">{{message}}</span></div>
        </div>
    </form>
</mat-dialog-content>
<mat-dialog-actions class="row">
    <div class="col">
        <button mat-button mat-dialog-close>Regresar</button>
    </div>
    <div class="col">
        <button mat-stroked-button color="warn" [disabled]=" !emailValidado" (click)="procesarVotacion(emailVote)"> Votar </button>
    </div>
</mat-dialog-actions>