::ng-deep {
    .mat-tab-nav-bar, .mat-tab-header {
        border-bottom: 0px;
    }

    .mat-tab-label {
        width: 25%;

        #btn1{
            .mat-tab-label-content{
                color: green !important;
            }
        }
        .mat-tab-label-content {
            font-weight: 600;
            font-size: 18px;
            text-transform: uppercase;
            border: 3px solid black;
            padding: 10px;

            
        }
    }

    .mat-ink-bar {
        height: 0px !important;
    }
}
.cnt-inpt{
    margin:2%;
    height: 50px;
}
.main-inpt{
    border-radius: 5px;
    width: 100%;
    border-radius:4px;
}
.preview-entries{
    max-width: 150px;
}
.logoSmp{
    width: 90%;
    margin-top: 10px;
}

.logoGrillKids{
    width: 100%;
}
.inputs{
    background-color: #fff;
    width: 200px;
    border-radius: 15px;
    height: 35px;
    text-transform: uppercase;
    font-weight: 700;
    border-color: #e12026;
    border-style: double;
}
input::placeholder{
    color: #e12026;
}
.padding-inputs{
    padding-left: 35%;
    padding-top: 5%;
}
.padding-content{
    padding-left: 16%;
    padding-right: 10%;
    padding-top: 5%;
}
.bgCnt{
    background-image: url(../../../assets/bgIMG.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.imgParticpacion{
    max-width: 700px;
}
.txt-particpa{
    margin: 5% 0 0 20px;
}