::ng-deep {
    .mat-tab-nav-bar,
    .mat-tab-header {
        border-bottom: 0px;
    }

    .mat-tab-label {
        width: 25%;

        .mat-tab-label-content {
            color: white;
            font-weight: 600;
            font-size: 16px;
            text-transform: uppercase;
            letter-spacing: 1px;
            #btn1 {
                color: green !important;
            }
        }
    }

    .mat-ink-bar {
        height: 0px !important;
    }
}
.cnt-inpt {
    margin: 2%;
    height: 50px;
}
.main-inpt {
    border-radius: 5px;
    width: 100%;
    border-radius: 4px;
}
.preview-entries {
    max-width: 150px;
}
.logoSmp {
    width: 90%;
    margin-top: 10px;
}

.logoGrillKids {
    width: 150%;
}
.inputs {
    background-color: #fff;
    width: 200px;
    border-radius: 15px;
    height: 35px;
    text-transform: uppercase;
    font-weight: 700;
    border-color: #e12026;
    border-style: double;
}
input::placeholder {
    color: #e12026;
}
.padding-inputs {
    padding-left: 35%;
    padding-top: 5%;
}
.padding-content {
    padding-left: 16%;
    padding-right: 10%;
    padding-top: 5%;
}
.bgCnt {
    background-image: url(../../../assets/bgIMG.jpg);
    background-repeat: no-repeat;
    background-size: cover;
<<<<<<< HEAD
    overflow: hidden;
=======
    @media screen and (max-width: 860px){
        background-image: url(../../../assets/fondoMobile.jpeg);
    }
>>>>>>> e13b723ab33f68d36cc32519734576a9046a9aaa
}
.imgParticpacion {
    max-width: 100%;
    width: 700px;
    @media screen and (max-width: 860px){
        max-height: 300px;
     }
}
.txt-particpa {
    margin: 5% 0 0 20px;
}
.title1 {
    color: #e92059;
    font-weight: 800;
}
.title2 {
    color: #b4abd4;
    font-weight: 600;
}
.title3 {
    color: #6bb647;
    font-weight: 600;
}
.title4 {
    color: #f16b24;
    font-weight: 600;
}

.imgPremios {
    max-width: 100%;
    width: 700px;
}
.hideOnMobile{
    @media screen and (max-width: 860px){
        display: none !important;
    }
}
.showOnlyOnMobile{
    display: none !important;
    @media screen and (max-width: 860px){
    display: block !important;
    }
}
