::ng-deep {
    .mat-tab-nav-bar, .mat-tab-header {
        border-bottom: 0px;
    }

    .mat-tab-label {
        width: 25%;
        .mat-tab-label-content {
            color: red;
            text-transform: uppercase;
        }
    }

    .mat-ink-bar {
        height: 0px !important;
    }
}
.cnt-inpt{
    margin:2%;
    height: 50px;
}
.main-inpt{
    border-radius: 5px;
    width: 100%;
    border-radius:4px;
}
.preview-entries{
    max-width: 150px;
}
.logoSmp{
    width: 90%;
    margin-top: 10px;
}
.letras{
    color: red;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
}
.logoGrillKids{
    width: 350%;
}
.inputs{
    background-color: #fff;
    width: 200px;
    border-radius: 15px;
    height: 35px;
    text-transform: uppercase;
    font-weight: 700;
    border-color: #e12026;
    border-style: double;
}
input::placeholder{
    color: #e12026;
}
.padding-inputs{
    padding-left: 35%;
    padding-top: 5%;
}
.padding-content{
    padding-left: 16%;
    padding-right: 10%;
    padding-top: 5%;
}