::ng-deep {
    .mat-tab-nav-bar, .mat-tab-header {
        border-bottom: 0px;
    }

    .mat-tab-label {
        width: 25%;
        .mat-tab-label-content {
            color: red;
            text-transform: uppercase;
        }
    }

    .mat-ink-bar {
        height: 0px !important;
    }
}
.cnt-inpt{
    margin:2%;
    height: 50px;
}
.main-inpt{
    border-radius: 5px;
    width: 100%;
    border-radius:4px;
}
.preview-entries{
    max-width: 150px;
}